node_modules
dist
build
.DS_Store
.env
.env.local
.cache/
public/generated/*
!public/generated/preflight-assets/
!public/generated/preflight-assets/**

# Ignore the output video from Git but not videos you import into src/.
out
renders/**/*.mp4
renders/**/*.png
